@charset "UTF-8";
/*Обнуление стилей*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  color: black;
  overflow-x: hidden;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoMono-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoMono-Bold.woff);
  font-weight: 700;
}

[class*="__container"] {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto';
  position: relative;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  padding: 50px 0;
  position: absolute;
  z-index: 500;
  width: 100%;
  top: -100%;
  -webkit-animation-name: header-move;
          animation-name: header-move;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes header-move {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes header-move {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 400px) {
  .header__logo {
    max-width: 42px;
    overflow-x: hidden;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

@media (max-width: 991.98px) {
  .header__nav {
    width: 100%;
    height: 100%;
    background: #E3E7F6;
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header__nav:target {
    top: 0;
  }
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  color: #646A89;
}

@media (max-width: 991.98px) {
  .header__link {
    color: #BF0830;
    font-size: 25px;
  }
}

.header__btn {
  margin-left: 30px;
  max-width: 154px;
}

@media (max-width: 991.98px) {
  .header__btn {
    margin: 0px 50px 0px 0px;
  }
}

@media (max-width: 400px) {
  .header__btn {
    margin: 0;
  }
}

.header .burger {
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 50;
}

.header .burger span {
  width: 30px;
  height: 2px;
  background: black;
}

.header .burger::before, .header .burger::after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
}

@media (max-width: 991.98px) {
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn {
  padding: 14px 32px;
  background: #BF0830;
  font-size: 12px;
  font-weight: 700;
  color: #ffff;
  border-radius: 6px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn:hover {
  background: #990727;
}

.btn_hollow {
  background: none;
  border: 1px solid #BF0830;
  color: #BF0830;
}

.btn_hollow:hover {
  background: none;
}

.intro {
  left: -100%;
  position: relative;
  -webkit-animation-name: intro-move;
          animation-name: intro-move;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  background: -webkit-linear-gradient(197.09deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
  background: -o-linear-gradient(197.09deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
  background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

@-webkit-keyframes intro-move {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes intro-move {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.intro__container {
  padding: 210px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .intro__container {
    padding: 150px 0px 0px 0px;
  }
}

.intro__block-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media (max-width: 991.98px) {
  .intro__block-text {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 15px;
  }
}

.intro__block-text .block-text__title {
  max-width: 540px;
  margin-bottom: 32px;
}

.intro__block-text .block-text__subtitle {
  max-width: 500px;
  margin-bottom: 40px;
}

.intro .intro__image img {
  max-width: 100%;
}

.block-text__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #1A2578;
}

@media (max-width: 1087px) {
  .block-text__title {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  .block-text__title {
    font-size: 27px;
  }
}

.block-text__subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

@media (max-width: 1087px) {
  .block-text__subtitle {
    font-size: 20px;
  }
}

.block-text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

@media (max-width: 991.98px) {
  .block-text__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.block-text__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.block-text__text p:not(:last-child) {
  margin-bottom: 20px;
}

.brands__container {
  padding: 100px 15px;
}

@media (max-width: 767.98px) {
  .brands__container {
    padding: 50px 15px;
  }
}

.brands__block-text .block-text__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  margin-bottom: 80px;
}

.brands__block-text .block-text__title span {
  color: #BF0830;
}

@media (max-width: 1087px) {
  .brands__block-text .block-text__title {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  .brands__block-text .block-text__title {
    font-size: 27px;
  }
}

.brands__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .brands__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

@media (max-width: 991.98px) and (max-width: 520px) {
  .brands__logos {
    gap: 50px;
  }
}

.brands__logo img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .brands__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .brands__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.products__container {
  padding: 106px 15px 0px 15px;
}

@media (max-width: 767.98px) {
  .products__container {
    padding: 75px 15px 0px 15px;
  }
}

.products__block-text {
  text-align: center;
  margin-bottom: 140px;
}

@media (max-width: 767.98px) {
  .products__block-text {
    margin-bottom: 50px;
  }
}

.products__block-text .block-text__subtitle {
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .products__block-text .block-text__subtitle {
    font-size: 14px;
    margin-top: 25px;
  }
}

.item-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1120px) {
  .item-products__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.item-products__column {
  max-width: 538px;
  padding: 64px 124px 300px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.432), 0px 25px 35px rgba(22, 23, 72, 0.08);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.432), 0px 25px 35px rgba(22, 23, 72, 0.08);
  border-radius: 8px;
}

@media (max-width: 450px) {
  .item-products__column {
    padding: 64px 40px 170px 40px;
  }
}

.item-products__column:nth-child(1) {
  background-image: url(../img/products/bg1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.item-products__column:nth-child(2) {
  background-image: url(../img/products/bg2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.item-products__icon {
  margin-bottom: 40px;
}

.item-products__icon img {
  max-width: 100%;
}

.item-products__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 32px;
}

@media (max-width: 767.98px) {
  .item-products__text {
    font-size: 16px;
  }
}

.item-products__btn {
  position: relative;
}

.item-products__btn::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../img/products/arrow-icon.svg);
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
}

.awards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 991.98px) {
  .awards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .awards__container {
    padding-bottom: 30px;
  }
}

.awards__block-text {
  max-width: 550px;
}

@media (max-width: 991.98px) {
  .awards__block-text {
    text-align: center;
  }
}

.awards__image img {
  max-width: 100%;
}

.innovation__container {
  padding-top: 120px;
}

@media (max-width: 767.98px) {
  .innovation__container {
    padding-top: 50px;
  }
}

.innovation__block-text {
  text-align: center;
  margin-bottom: 113px;
}

@media (max-width: 767.98px) {
  .innovation__block-text {
    margin-bottom: 50px;
  }
}

.innovation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1087px) {
  .innovation__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
}

@media (max-width: 567.98px) {
  .innovation__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.innovation__icon {
  padding: 10px 50px;
  width: 256px;
  height: 119px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.5), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.5), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1087px) {
  .innovation__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 767.98px) {
  .innovation__icon {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.thing {
  background: -webkit-linear-gradient(114.27deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
  background: -o-linear-gradient(114.27deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
  background: linear-gradient(335.73deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
}

.thing__container {
  padding-top: 217px;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .thing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .thing__container {
    padding-top: 150px;
    padding-bottom: 70px;
  }
}

.thing__block-text {
  max-width: 363px;
}

.thing__block-text .block-text__title {
  margin-bottom: 16px;
}

.thing__block-text .block-text__subtitle {
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .thing__block-text {
    text-align: center;
    max-width: none;
  }
}

.thing__image img {
  max-width: 100%;
}

.footer {
  background: #0D123C;
}

.footer-info {
  padding-top: 55px;
  padding-bottom: 64px;
  border-bottom: 1px solid #C5CBE280;
}

.footer-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .footer-info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.footer-info__company {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #FFFFFF;
}

.footer-info__logo {
  margin-bottom: 25px;
}

@media (max-width: 371.98px) {
  .footer-info__logo {
    text-align: center;
    padding-left: 25px;
  }
}

.footer-info__text {
  max-width: 400px;
}

@media (max-width: 991.98px) {
  .footer-info__text {
    max-width: none;
  }
}

@media (max-width: 371.98px) {
  .footer-info__text {
    text-align: center;
  }
}

.footer-info__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

@media (max-width: 1087px) {
  .footer-info__nav {
    gap: 30px;
  }
}

@media (max-width: 991.98px) {
  .footer-info__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 371.98px) {
  .footer-info__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-info__links {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-info__title {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-info .footer-info__title_center {
  text-align: center;
}

.footer-info__link {
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 21px;
}

.footer-info__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 371.98px) {
  .footer-info__logos {
    padding-right: 30px;
  }
}

.footer-rights__container {
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 530px) {
  .footer-rights__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

.footer-rights__reserved {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-rights__terms {
  font-family: Europa;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/*******************************/
.cookieyes__container {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .cookieyes__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.cookieyes__info {
  max-width: 401px;
}

.cookieyes__logo {
  margin-bottom: 30px;
}

.cookieyes__logo img {
  max-width: 100%;
}

.cookieyes__text {
  font-family: Europa;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #484C63;
  margin-bottom: 30px;
}

.cookieyes__text p:first-child {
  margin-bottom: 25px;
}

.cookieyes__image img {
  max-width: 100%;
}

.webtoffee__container {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .webtoffee__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.webtoffee__info {
  max-width: 401px;
}

.webtoffee__logo {
  margin-bottom: 30px;
}

.webtoffee__logo img {
  max-width: 100%;
}

.webtoffee__text {
  font-family: Europa;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #484C63;
  margin-bottom: 30px;
}

.webtoffee__text p:first-child {
  margin-bottom: 25px;
}

.webtoffee__image img {
  max-width: 100%;
}

.details {
  background: -webkit-linear-gradient(107.88deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
  background: -o-linear-gradient(107.88deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
  background: linear-gradient(342.12deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
}

.details__container {
  padding: 140px 15px;
}

.details__block-text {
  max-width: 878px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.details__block-text .block-text__title {
  margin-bottom: 20px;
}

.details__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 340px) {
  .details__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/******************************/
.about-us__container {
  padding-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .about-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 991.98px) {
  .about-us__block-text {
    text-align: center;
  }
}

.about-us__block-text .block-text__title {
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .about-us__image img {
    max-width: 100%;
  }
}

.statistics__container {
  padding-bottom: 83px;
}

.statistics__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .statistics__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.statistics__row {
  padding-top: 53px;
  max-width: 290px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}

.statistics__title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #1A2578;
  margin-bottom: 20px;
}

.statistics__subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 12px;
}

.statistics__image img {
  max-width: 100%;
}

.culture {
  background: -webkit-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: -o-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.culture__container {
  padding-top: 65px;
  padding-bottom: 100px;
}

.culture__block-text {
  text-align: center;
  margin-bottom: 100px;
}

.culture__block-text .block-text__title {
  margin-bottom: 32px;
}

.culture__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.culture__column {
  max-width: 345px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}

@media (max-width: 991.98px) {
  .culture__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: none;
  }
}

.culture__title {
  font-size: 24px;
  margin-bottom: 32px;
  color: #3A3A3C;
}

.culture__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #484C63;
}

.who-we-are {
  background: -webkit-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: -o-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.who-we-are__container {
  padding-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .who-we-are__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.who-we-are__block-text {
  max-width: 416px;
}

.who-we-are__block-text .block-text__title {
  margin-bottom: 23px;
}

.who-we-are__img img {
  max-width: 100%;
}

.what-we-do {
  padding-bottom: 121px;
}

.what-we-do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .what-we-do__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.what-we-do__block-text {
  max-width: 416px;
}

.what-we-do__block-text .block-text__title {
  margin-bottom: 23px;
}

@media (max-width: 991.98px) {
  .what-we-do__img img {
    max-width: 100%;
  }
}

.hiring {
  background: -webkit-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: -o-linear-gradient(181.48deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.hiring__container {
  padding-top: 110px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .hiring__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hiring__block-text {
  max-width: 416px;
}

.hiring__block-text .block-text__title {
  margin-bottom: 16px;
}

.hiring__block-text .block-text__subtitle {
  margin-bottom: 40px;
}

.hiring__image img {
  max-width: 100%;
}

.be-the-next {
  max-width: 217px;
  position: relative;
  top: 32px;
  left: 66px;
}

.be-the-next img {
  max-width: 100%;
}

.connect {
  background: -webkit-linear-gradient(202.89deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
  background: -o-linear-gradient(202.89deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
  background: linear-gradient(247.11deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
}

.connect__container {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .connect__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.connect__block-text {
  max-width: 570px;
  margin-bottom: 139px;
}

.connect__block-text .block-text__title {
  margin-bottom: 40px;
}

.connect__block-text .block-text__subtitle {
  margin-bottom: 40px;
}

.connect__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 991.98px) {
  .connect__image img {
    max-width: 100%;
  }
}

.register__container {
  padding-top: 114px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .register__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
}

.register__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 500px;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
}

@media (max-width: 991.98px) {
  .register__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: none;
  }
}

.register__locations {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 991.98px) {
  .register__locations {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  color: #8F90A6;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}

.form__input {
  border: 1px solid #E3E7F6;
  padding: 15px 5px;
  font-family: Roboto;
  color: #6b6c80;
  font-size: 16px;
  font-weight: 400;
}

.form__textarea {
  height: 178px;
  border: 1px solid #E3E7F6;
  resize: vertical;
  margin-bottom: 30px;
}

.locations__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}

.locations__item {
  max-width: 366px;
}

.locations__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 991.98px) {
  .locations__country {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.locations__country-name {
  font-weight: 700;
  font-size: 18px;
}

.locations__address {
  max-width: 273px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 991.98px) {
  .locations__address {
    text-align: center;
  }
}
